# Core Django
Django==4.2
django-cors-headers==4.3.1
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1

# Database/ORM
sqlparse==0.5.3

# Security/authentication
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1

# Utilities
asgiref==3.9.2
certifi==2025.8.3
charset-normalizer==3.4.3
ffmpeg-python==0.2.0
future==1.0.0
gunicorn==23.0.0
pillow==11.3.0
platformdirs==3.0.0
psutil==7.0.0
pytz==2025.2
pywin32==306
requests==2.32.5
six==1.17.0
whitenoise==6.11.0
urllib3==2.5.0
